<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Lista de Candidatos
  </h1>
  <ol class="breadcrumb">
    <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active"><a href="/admin/users">Usuários</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
  	<div class="col-md-9">
  		<div class="box box-primary">
            
           <!-- <div class="box-header">
              <a href="/ecommerce/admin/users/create" class="btn btn-success">Cadastrar Usuário</a>
            </div> -->

            <div class="box-body no-padding">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th>CSF</th>
                    <th>Responsável</th>
                    <th>Média Final</th>
                    <th style="width: 180px">Ações</th>
                  </tr>
                </thead>
                <tbody>
                  {loop="$candidatos"}
                  <tr>
                    <td>{$value.idcandidato}</td>
                    <td>{$value.csf}</td>
                    <td>{$value.responsavel}</td>
                    <td>{function="formatFloat($value.0)"}</td>
                    <td>
                      <a href="/qualiabsobral/detalhes/{$value.idcandidato}" class="btn btn-default btn-xs"><i class="fa fa-search"></i> Respostas Detalhadas</a>
                      <!--<a href="/qualiabsobral/candidatos/{$value.idcandidato}" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i>Editar </a>
                      <a href="/qualiabsobral/candidatos/{$value.idcandidato}/delete" onclick="return confirm('Deseja realmente excluir este registro?')" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Excluir</a> -->
                    </td>
                  </tr>
                  {/loop}
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
  	</div>
     <div class="col-md-3">
      <div class="panel-group">
          <div class="panel panel-warning">
            <div class="panel-heading" style="font-size: 40px"> Média Geral de Sobral: {function="formatFloat($media_sobral)"}</div>
          </div>
      </div>
    </div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->