
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Candidato: {$candidato.csf}
        
      </h1>
      <h3>
        Pergunta: {function="formatText($perguntas.descricao)"}
      </h3>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

     <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
            
           <!-- <div class="box-header">
              <a href="/ecommerce/admin/users/create" class="btn btn-success">Cadastrar Usuário</a>
            </div> -->

            <div class="box-body no-padding">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th>Alternativas</th>
                    <th>Peso</th>
                    <th>RESPOSTA</th>
                    <!--<th style="width: 220px">Ações</th> -->
                  </tr>
                </thead>
                <tbody>
                  {loop="$alternativas"}

                  <tr>
                    <td>{$value.codigo}</td>
                    <td>{function="formatText($value.descricao)"}</td>                   
                    <td>{$value.peso}</td>                    
                    <td>{$value.0}</td>
                  </tr>
                  {/loop}
                  
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
    </div>
  </div>
<div class="row">
    <div class="col-md-6">
      <div class="panel-group">
          <div class="panel panel-info">
            <div class="panel-heading">Pontuação Total = {$pontuacao_total} | Pontuação = {$pontuacao} | Porcentagem = {$porcentagem}%</div>
          </div>
          <div class="panel panel-warning">
            <div class="panel-heading"> > 75% ({function="return75($pontuacao_total)"}) = 2</div>
            <div class="panel-heading"> <= 75% ({function="return75($pontuacao_total)"}) e >= 25% ({function="return25($pontuacao_total)"}) = 1</div>
            <div class="panel-heading"> < 25% ({function="return25($pontuacao_total)"}) = 0</div>
          </div>
      </div>
    </div>
</div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->