  <style>
    .botao-grafico {
      padding: 40px;
      font-size: 80px;
      margin-bottom: 10px;
    }
  </style>


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Lista de questões que possuem gráficos para visualizar <br>
        <small>
          Selecione uma questão para visualizar seu gráfico<br>
          
        </small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <div class="row">
        <div class="col-md-3">
          <a href="/qualiabsobral/grafico/5" class="btn btn-default botao-grafico" > 5 </a>
        </div>
        <div class="col-md-3">
          <a href="/qualiabsobral/grafico/6" class="btn btn-default botao-grafico" > 6 </a>
        </div>
        <div class="col-md-3">
          <a href="/qualiabsobral/grafico/14" class="btn btn-default botao-grafico"> 14 </a>
       </div>
      </div>

      <div class="row">
          <div class="col-md-3">
            <a href="/qualiabsobral/grafico/24" class="btn btn-default botao-grafico"> 24 </a>
          </div>
          <div class="col-md-3">
            <a href="/qualiabsobral/grafico/25" class="btn btn-default botao-grafico"> 25 </a>
          </div>
          <div class="col-md-3">
            <a href="/qualiabsobral/grafico/39" class="btn btn-default botao-grafico"> 39 </a>
         </div>
      </div>
       
      <!-- Your Page Content Here -->

    </section>
    <!-- /.content -->

  </div>
  <!-- /.content-wrapper -->