
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        QualiAB Sobral
        <small>
          Bem - Vindo!<br>
          
        </small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <div class="row ">
        <div class="col-xs-5">
        <div class="panel-group">
            <div class="panel panel-warning">
              <div class="panel-heading" style="font-size: 20px"> 
                O seguinte sistema foi feito para análise dos dados da pesquisa do Questionário QualiAB - Sobral, 
                todo a lógica foi feita baseada do formato em que o LimeSurvey exporta suas respostas. O mesmo mostra todos os relatórios necessários para uma interpretação da qualidade das unidades básicas de saúde da cidade de Sobral. <br>
                Responsáveis pelo projeto: Raissa Mont'Alverne e Leonardo Carneiro
              </div>
            </div>
        </div>
      </div>
      <div class="col-xs-5">
        <div class="panel-group">
            <div class="panel panel-success">
              <div class="panel-heading" style="font-size: 20px"> 
                IMPORTANTE: Para que as respostas e os pontos de cada Candidato seja calculada, é necessário que visualize pelo menos 1 vez a resposta detalhada de cada pergunta.
              </div>
            </div>
        </div>
      </div>
    </div>
   
      <!-- Your Page Content Here -->

    </section>
    <!-- /.content -->

   
  </div>
  <!-- /.content-wrapper -->