
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
     <br> <h1>
        Pergunta: {function="formatText($pergunta.descricao)"} <br>

      </h1>
      
    </section>

    <!-- Main content -->
    <section class="content">

        
         <fieldset>
           
           <img src="../graficos/grafico{$pergunta.idpergunta}.php" alt="" title="" />

         </fieldset>

        <div class="col-md-11"> 
         <h4>{function="retornaRodapeGrafico($pergunta.idpergunta)"}</h4>
        </div>

      <!-- Your Page Content Here -->

    </section>
    <!-- /.content -->

  </div>
  <!-- /.content-wrapper -->